<a href="https://colab.research.google.com/github/johyunkang/MLwithPythonCookbook/blob/main/3_18_df_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3.18 데이터프레임 연결하기

In [1]:
import pandas as pd

data_a = {'id':['1', '2', '3'],
          'first':['alex', 'amy', 'allen'],
          'last':['anderson', 'ackerman', 'ali']}
data_b = {'id':['4', '5', '6'],
          'first':['길동', '심청', '이유'],
          'last':['홍', '정', '아']}

df_columns=['id', 'first', 'last']
df_a = pd.DataFrame(data_a, columns=df_columns)
df_b = pd.DataFrame(data_b, columns=df_columns)

display(df_a)
display(df_b)

  id  first      last
0  1   alex  anderson
1  2    amy  ackerman
2  3  allen       ali

  id first last
0  4    길동    홍
1  5    심청    정
2  6    이유    아

In [2]:
# 행 방향(아래로) DF를 연결 (UNION ALL과 동일)
print('행방향 (아래로) DF를 연결 (UNION ALL과 동일)')
pd.concat([df_a, df_b], axis=0)

  id  first      last
0  1   alex  anderson
1  2    amy  ackerman
2  3  allen       ali
0  4     길동         홍
1  5     심청         정
2  6     이유         아

In [3]:
print('열방향 (옆으로) DF를 연결 (JOIN 과 동일)')
pd.concat([df_a, df_b], axis=1)

열방향 (옆으로) DF를 연결 (JOIN 과 동일)

  id  first      last id first last
0  1   alex  anderson  4    길동    홍
1  2    amy  ackerman  5    심청    정
2  3  allen       ali  6    이유    아

## 3.19 데이터프레임 병합하기 (merge)

In [8]:
import pandas as pd

emp_data = {'emp_id':[1, 2, 3, 4],
            'name':['아이유', '안유진', '전소연', '김사나']}
sales_data = {'emp_id':[3, 4, 5, 6],
              'total_sales':[1000, 2000, 3000, 4000]}
df_emp = pd.DataFrame(emp_data)
df_sales = pd.DataFrame(sales_data)

display(df_emp)
display(df_sales)

   emp_id name
0       1  아이유
1       2  안유진
2       3  전소연
3       4  김사나

   emp_id  total_sales
0       3         1000
1       4         2000
2       5         3000
3       6         4000

In [12]:
print('데이터프레임을 병합(join) 합니다.')
df_merge = pd.merge(df_emp, df_sales, on='emp_id')
display(df_merge)

print('\n\n')
print('Outer Join (how=outer)')
display(pd.merge(df_emp, df_sales, on='emp_id', how='outer'))

print('\n\n')
print('Left Outer Join (how=left)')
display(pd.merge(df_emp, df_sales, on='emp_id', how='left'))


print('\n\n')
print('조인을 위한 컬럼명이 다른 경우 left_on, right_on')
display(pd.merge(df_emp, df_sales, left_on='emp_id', right_on='emp_id'))

데이터프레임을 병합(join) 합니다.

   emp_id name  total_sales
0       3  전소연         1000
1       4  김사나         2000

Outer Join (how=outer)

   emp_id name  total_sales
0       1  아이유          NaN
1       2  안유진          NaN
2       3  전소연       1000.0
3       4  김사나       2000.0
4       5  NaN       3000.0
5       6  NaN       4000.0

Left Outer Join (how=left)

   emp_id name  total_sales
0       1  아이유          NaN
1       2  안유진          NaN
2       3  전소연       1000.0
3       4  김사나       2000.0

조인을 위한 컬럼명이 다른 경우 left_on, right_on

   emp_id name  total_sales
0       3  전소연         1000
1       4  김사나         2000